@media screen and (max-width:1026px) {
    .Cards{
        display: flex;
        flex-wrap: wrap;
    }
    .ProjectCard{
        margin-bottom: 60px;
    }
    
}

@media screen and (max-width: 768px) {
    .UnorderItem
    {
        display: none;
    }
    #sidebaricon{
        display: flex;
    }
    .BlackBar{
        width: 100%;
    }
    .Aboutme h3{
        font-size: 30px;
        width: 600px;
    }
    .About button{
        padding: 40px;
    }
    .About p{
        width: 80%;
    }
    .skillsection{
        display: flex;
        flex-wrap: wrap;
    }
    .Cards{
        display: flex;
        flex-wrap: wrap;
    }
    .ProjectCard{
        margin-bottom: 50px;
    }
}

@media screen and (max-width:430px) {

    .ContentArea h3{
        font-size: 35px;
    }
    .ContentArea h2{
        font-size: 35px;
    }
    .Gifimage{
        width: 400px;
        height: 350px;
    }

    .BlackBar{
        display: none;
    }
    .Aboutme{
        margin-left: 5px;
    }
    .Aboutme h3{
        width: 400px;
    }
    .About{
        padding: 5px;
    }
    .About button{
        padding: 30px;
    }
    .About p{
        width: 95%;
    }
    .skillsection{
        display: flex;
        flex-wrap: wrap;
    }
    .Aboutme{
        margin-left: 5px;
    }
    .Aboutme h3{
        width: 300px;
    }
    .About{
        padding: 5px;
    }
    .About button{
        padding: 20px;
    }
    .About p{
        width: 95%;
    }
    .skillsection{
        display: flex;
        flex-wrap: wrap;
    }
    .ProjectTitle{
        margin-left: 10px;
    }
    .Cards{
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
    }
    .ProjectCard{
        margin-bottom: 50px;
    }
    .Skillset1{
        display: flex;
        gap: 10px;
    }
    .Skillset2{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin: 5px;
        justify-content: center;
    }
    .Skillset3{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin: 5px;
    }
    .Skillset4{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin: 5px;
    }
    .Skillset5{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin: 5px;
        justify-content: center;
    }
    .contact {
        display: flex;
        flex-direction: column;
    }
    .contact ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .contact li{
        font-size: 13px;
    }
}

@media screen and (max-width:380px) {

    .ContentArea h3{
        font-size: 30px;
    }
    .ContentArea h2{
        font-size: 30px;
    }
    .Gifimage{
        width: 350px;
        height: 300px;
    }

    .BlackBar{
        display: none;
    }
    .Aboutme{
        margin-left: 5px;
    }
    .Aboutme h3{
        width: 370px;
    }
    .About{
        padding: 5px;
    }
    .About button{
        padding: 30px;
    }
    .About p{
        width: 95%;
    }
    .skillsection{
        display: flex;
        flex-wrap: wrap;
    }
    .Aboutme{
        margin-left: 5px;
    }
    .Aboutme h3{
        width: 300px;
    }
    .About{
        padding: 5px;
    }
    .About button{
        padding: 20px;
    }
    .About p{
        width: 95%;
    }
    .skillsection{
        display: flex;
        flex-wrap: wrap;
    }
    .ProjectTitle{
        margin-left: 10px;
    }
    .Cards{
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
    }
    .ProjectCard{
        margin-bottom: 50px;
    }
    .Skillset1{
        display: flex;
        gap: 10px;
    }
    .Skillset2{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin: 5px;
        justify-content: center;
    }
    .Skillset3{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin: 5px;
    }
    .Skillset4{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin: 5px;
    }
    .Skillset5{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin: 5px;
        justify-content: center;
    }
    .contact {
        display: flex;
        flex-direction: column;
    }
    .contact ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .contact li{
        font-size: 13px;
    }
}
@media screen and (max-width:325px) {

    .ContentArea h3{
        font-size: 30px;
    }
    .ContentArea h2{
        font-size: 25px;
    }
    .Gifimage{
        width: 310px;
        height: 260px;
    }
    .BlackBar{
        display: none;
    }
    .Aboutme{
        margin-left: 5px;
    }
    .Aboutme h3{
        width: 300px;
    }
    .About{
        padding: 5px;
    }
    .About button{
        padding: 20px;
    }
    .About p{
        width: 95%;
    }
    .skillsection{
        display: flex;
        flex-wrap: wrap;
    }
    .ProjectTitle{
        margin-left: 10px;
    }
    .Cards{
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
    }
    .ProjectCard{
        margin-bottom: 50px;
    }
    .Skillset1{
        display: flex;
        gap: 10px;
    }
    .Skillset2{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin: 5px;
        justify-content: center;
    }
    .Skillset3{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin: 5px;
    }
    .Skillset4{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin: 5px;
    }
    .Skillset5{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin: 5px;
        justify-content: center;
    }
    .contact {
        display: flex;
        flex-direction: column;
    }
    .contact ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .contact li{
        font-size: 13px;
    }
}
